$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto Mono', monospace;
$font-action: 'Montserrat', sans-serif;

$light-blue: #01d4f4;
$dark-grey: #292929;
$medium-blue: #125d75;
$dark-blue: #0a1834;
$base-color: #fff;
